<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My test page</title>
</head>
<body>
    <h1>연결 여부</h1>
    <p><%= connect %></p>
    <h1>오류 여부</h1>
    <p><%= err %></p>
</body>
</html>